*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body{
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

.active{
    height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 100;
  position: fixed;
  width: 100%;
  align-items: center;
  background-color: black;
}